# Harjoitus 2: Usean taulukon yhteenveto

Tässä tehtävässä opit laskemaan yhteenvedon usean Excel-taulukkovälilehden tiedoista. Tehtävän 1 automatisoinnin tapaan tämä on yleisimpiä automatisoinnin kohteita Excelissä.

Excelillä tehdään usein yhteenvetoja eri taulukkovälilehdiltä. Tämän voi kätevästi automatisoida **for**-silmukan avulla. Tutustu ensin seuraavaan koodiin.

In [1]:
import pandas as pd
import xlwings as xw

In [2]:
# Luodaan uusi Excel-instanssi
app=xw.App()

# Kalastuskerhon saaliita eri vuosilta
wb1 = xw.Book('pyex/data/kalat.xlsx')

# Napataan ensimmäiseltä taulukkovälilehdeltä pohja kalansaaliiden yhteenvedolle
kalansaaliit = wb1.sheets[0].range('A3').expand().options(pd.DataFrame).value * 0
kalansaaliit

          Toukokuu  Kesäkuu  Heinäkuu  Elokuu  Syyskuu  Yhteensä
Ahven          0.0      0.0       0.0     0.0      0.0       0.0
Hauki          0.0      0.0       0.0     0.0      0.0       0.0
Kuha           0.0      0.0       0.0     0.0      0.0       0.0
Muut           0.0      0.0       0.0     0.0      0.0       0.0
Yhteensä       0.0      0.0       0.0     0.0      0.0       0.0

Jatka edellä olevaa koodia omaan muistioon seuraavasti:

* Käy for-silmukalla läpi kaikki wb1:n taulukkovälilehdet ja lisää kunkin vuoden saaliit kalansaaliit-tietokehykseen.
* Lisää wb1:een **Yhteenveto**-taulukkovälilehti, ja kirjoita siihen kalansaaliit-tietokehys.
* Kopioi Kalat88-taulukkovälilehdeltä muotoilut Yhteenveto-taulukkovälilehdelle:
     **wb1.sheets('Kalat88').range('A3').current_region.copy()**
     **wb1.sheets('Yhteenveto').used_range.paste(paste='formats')**

* Tallenna wb1 **output**-kansioon **kalansaaliit.xlsx**-nimisenä ja sulje lopuksi Excel-instanssi.

In [3]:
import datetime
print(f'Viimeksi muokattu {datetime.datetime.now():%Y-%m-%d %H:%M}, Juha Nurmonen')

Viimeksi muokattu 2024-03-27 16:43, Juha Nurmonen